/Advisor.class
/Customer.class
/User.class
/Vehicle.class
/VehicleStubDB.class
/VehicleStubDBTest.class
/VehicleTest.class
/Claims.class
/ClaimsStubDB.class
/ClaimsStubDBTest.class
/ClaimsTest.class
/target/
