/AdvisorTest.class
/ClaimsStubDB.class
/ClaimsStubDBTest.class
/ClaimsTest.class
/CustomerTest.class
/PolicyTest.class
/UserStubDB.class
/UserStubDBTest.class
/VehicleStubDB.class
/VehicleStubDBTest.class
/VehicleTest.class
