
.claims_container {
    -fx-background-color: #EEEEEE;
    background-color: #EEEEEE;
}

.claims_container Text {
    -fx-fill: #000000;
    fill:#000000;
    -fx-font-size: 2em;
    font-size:2em;
}

.sub-title {
    -fx-font-size: 1.5em;
    font-size: 1.5em;
}

.register-box {
    -fx-spacing: 30px;
    -fx-border-width: 1px;
    border-width: 1px;
    -fx-border-color: #000;
    border-color: #000;
    -fx-border-radius: 5px;
    border-radius: 5px;
    -fx-padding: 0px 0px 0px 20px;
    padding: 10px;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 5, 0, 0, 4);
    -fx-background-color: white;
    background-color: white;
    -fx-background-radius: 5px;
}

.register-box-sub1 {
    -fx-padding: 5px 0px 0px 0px;
    padding: 5px 0px 0px 0px;
}

#DA {
    -fx-background-color:#FFFFFF;
    background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-font-size: 1.1em;
    font-size: 1.1em;
    -fx-border-color: #999;
    border-color: #999;
    -fx-border-radius: 1px;
    border-radius: 1px;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 5, 0, 0, 1);
}

#TA {
    -fx-background-color:#FFFFFF;
    background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-font-size: 1.1em;
    font-size: 1.1em;
    -fx-border-color: #999;
    border-color: #999;
    -fx-border-radius: 1px;
    border-radius: 1px;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 5, 0, 0, 1);
}

#TD {
    -fx-background-color:#FFFFFF;
    background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-font-size: 1.1em;
    font-size: 1.1em;
    -fx-border-color: #999;
    border-color: #999;
    -fx-border-radius: 1px;
    border-radius: 1px;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 5, 0, 0, 1);
}

#VT {
    -fx-background-color:#FFFFFF;
    background-color: #FFFFFF;
}

.text {
    -fx-padding: 4px 0px 1px 0px;
    padding: 2px;
}

.textarea {
    -fx-background-color:#FFFFFF;
    background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-font-size: 1.1em;
    font-size: 1.1em;
    -fx-border-color: #999;
    border-color: #999;
    -fx-border-radius: 1px;
    border-radius: 1px;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 5, 0, 0, 1);
}

.button {
    -fx-pref-width: 100;
    -fx-pref-height: 30;
    -fx-background-color:#FFFFFF;
    background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-font-size: 1.1em;
    font-size: 1.1em;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 5, 0, 0, 6);
}

.table {
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 5, 0, 0, 4);
    -fx-background-color: white;
    background-color: white;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    border-radius: 5px;
    -fx-border-color:#000;
    border-color: #000;
}

#c {
    -fx-border-color:#000;
    border-color: #000;
    -fx-border-width: 0px 0px 1px 0px;
    border-width: 0px 0px 1px 0px;
    -fx-border:none;
    border: none;
    -fx-background-radius: 1px;
    -fx-background-color:#FFFFFF;
    background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-font-size: 1em;
    font-size: 1em;
    -fx-font-weight: 100;
    font-weight: 100;
}

